<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--
 Mapper代理开发的规范：
 1)Mapper接口的名称必须和对应的Mapper.xml映射文件的名称一致
 2)Mapper.xml文件的namespace与Mapper接口的类路径相同(即接口文件和映射文件需要放在同一个包中)
 3)Mapper接口中的方法名和Mapper.xml中定义的每个执行语句的id相同
 4)Mapper接口中方法的输入参数类型和Mapper.xml中定义的每个sql的parameterType相同
 5)Mapper接口方法的输出参数类型要和Mapper.xml中定义的每个sql的resultType的类型相同
   -->
<!--namespace 表示命名空间 -->
<mapper namespace="com.bobo.dao.CartMapper">
	<insert id="insertGoodsToCart" parameterType="Cart">
		insert into cart values(#{user_id},#{goods_id},#{num},#{add_time})
	</insert>
	<select id="findCartByUserIdAndGoodsId" parameterType="Cart" resultType="Integer">
		select count(*) from cart where user_id=#{user_id} and goods_id=#{goods_id}
	</select>
	<update id="updateCartByUserIdAndGoodsId" parameterType="Cart">
		update cart set num=num+#{num},add_time=#{add_time} where user_id=#{user_id} and goods_id=#{goods_id}
	</update>
	
	<select id="getGoodsInfoByUserId" parameterType="Integer" resultMap="getGoodsFromCart">
		select gi.*,cart.num,cart.user_id,cart.add_time  from cart,goods_info gi where user_id=#{user_id} and cart.goods_id=gi.goods_id
	</select>
	<resultMap type="Cart" id="getGoodsFromCart">
		<result property="goods_id" column="goods_id"/>
		<result property="user_id" column="user_id"/>
		<result property="add_time" column="add_time"/>
		<result property="num" column="num"/>
		<association property="goodsInfo" javaType="GoodsInfo">
			<id property="goods_id" column="goods_id"/>
			<result property="goods_name" column="goods_name"/>
			<result property="goods_price" column="goods_price"/>
			<result property="goods_img_path" column="goods_img_path"/>
			<result property="goods_type" column="goods_type"/>
			<result property="goods_num" column="goods_num"/>
			<result property="goods_profile" column="goods_profile"/>
			<result property="is_hot" column="is_hot"/>
			<result property="is_recommend" column="is_recommend"/>
		</association>
		
	</resultMap>
</mapper>