<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--
 Mapper代理开发的规范：
 1)Mapper接口的名称必须和对应的Mapper.xml映射文件的名称一致
 2)Mapper.xml文件的namespace与Mapper接口的类路径相同(即接口文件和映射文件需要放在同一个包中)
 3)Mapper接口中的方法名和Mapper.xml中定义的每个执行语句的id相同
 4)Mapper接口中方法的输入参数类型和Mapper.xml中定义的每个sql的parameterType相同
 5)Mapper接口方法的输出参数类型要和Mapper.xml中定义的每个sql的resultType的类型相同
   -->
<!--namespace 表示命名空间 -->
<mapper namespace="com.bobo.dao.GoodsInfoMapper">
	<!--根据ID查询客户信息  -->
	<select id="findGoodsInfoForBanner" resultType="GoodsInfo">
		select * from goods_info where is_hot=1  limit 0,3
	</select>
	<select id="findGoodsInfoForIsRecommended" resultType="GoodsInfo">
		select * from goods_info where is_recommend=1  limit 0,10
	</select>
	<select id="findGoodsInfoByGoodsName" parameterType="Map" resultType="GoodsInfo">
		select * from goods_info
		<if test="searchGoodsName != null and searchGoodsName != ''">
		   where goods_name like concat('%',#{searchGoodsName},'%')
		</if>
		<if test="isPriceDown != null and isPriceDown != ''">
			<if test="isPriceDown=='1'.toString()">
				order by goods_price desc
			</if>
			<if test="isPriceDown=='0'.toString()">
				order by goods_price asc
			</if>
		</if>
		<if test="goodsSize != '0'.toString() ">
			limit ${goodsIndex},${goodsSize}
		</if>
	</select>
	<select id="findGoodsInfoByType" parameterType="String" resultType="GoodsInfo">
		select * from goods_info where goods_type=#{goods_type}
	</select>
	<update id="updateGoodsInfoNum" parameterType="GoodsInfo" >
		update goods_info set goods_num=goods_num-#{goods_num} where  goods_id=#{goods_id}
	</update>
	<update id="addGoodsInfoNum" parameterType="GoodsInfo" >
		update goods_info set goods_num=goods_num+#{goods_num} where  goods_id=#{goods_id}
	</update>
	<update id="assignGoodsInfoNum" parameterType="GoodsInfo" >
		update goods_info set goods_num=#{goods_num} where goods_id=#{goods_id}
	</update>
</mapper>